
@import url('https://fonts.googleapis.com/css?family=Girassol|Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serifa;
}

body {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 1));
    display: flex;
    justify-content: center;
}

.box {
    background: gray;
    min-height: 400px;
    min-width: 300px;
    text-align: center;
    margin-top: 10%;
    box-shadow: 4px 8px 10px black;
    border-radius: 5px;
}

h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 4px;
    font-family: 'Roboto', sans-serif;
    flex: 6;
    text-align: start;
}

.wrapper {
    background: #1DA1F2;
    font-size: 12px;
    height: 40px;
    width: auto;
    display: flex;
}

i {
    display: block;
    flex: 1;
    color: #ffffff;
    padding-top: 14px;
}

#input {
    height: 40px;
    width: 100%;
    font-size: 18px;
}

.visible {
    display: none;
}

