* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: contain, cover;
}

html {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#container {
    margin: 100px auto;
    width: 400px;
    background: #f6f6f6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.checked {
    text-decoration: line-through;
    color: gray;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    margin: 0;
    display: inline-block;
    width: auto;
    font-size: 20px;
    padding: 10px 0 10px 5px;
}

li > #trash {
    padding: 10px 20px;
    font-size: 20px;
    background: red;
    border: 1px solid red;
    color: #f6f6f6;
    -moz-transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    overflow: hidden;
    height: 0; opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}


li:hover > #trash {
    cursor: pointer;
    height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.plus {
    float: right;
}

h1 {
    padding: 20px;
    background: #3b5998;
    color: #f6f6f6;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 10px 0 10px 5px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
}

input:focus {
    outline: none;
}

li:nth-child(2n) {
    background: #dfe3ee;
}

.visibility {
    display: none;
}